<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | File uploader</title>
    <link rel="stylesheet" href="/tailwind.css">
  </head>
  <body class="max-w-4xl mx-auto bg-neutral-950 text-neutral-50">
    <%- include("partials/navbar", {links: [
      {href: "/user/log-out", text: "Log out"}
    ]}) %>
    <header class="mt-32">  
      <p class="p-3 text-neutral-300">/<%- locals.parentName !== "root" ? parentName : "" %></p>
      <ul class="p-3 md:grid md:grid-cols-2 md:gap-5">
        <li class="flex items-center gap-6 p-4 my-3 border border-indigo-400 rounded bg-neutral-800">
          <div class="w-8 text-center">
            <img src="/icons/folder-plus.svg" class="w-full" alt="folder">
          </div>
          <a class="font-bold" href="/folder/<%- locals.parentName %>/new">Create new folder</a>
        </li>
        <li class="flex items-center gap-6 p-4 my-3 border rounded border-fuchsia-400 bg-neutral-800">
          <div class="w-8 text-center">
            <img class="w-full" src="/icons/file-plus.svg" alt="file">
          </div>
          <a class="font-bold" href="/file/<%- locals.parentName %>/upload">Upload new file</a>
        </li>
      </ul>
    </header>
    <main>
      <ul class="p-3 md:grid md:grid-cols-2 md:gap-x-5 md:gap-y-7 md:mt-5">
        <!-- folders -->
        <% if (locals.folders) { folders.forEach(folder => { %>
          <li class="flex items-center gap-6 p-4 my-5 rounded md:my-0 bg-neutral-800">
            <div class="w-8 text-center">
              <img src="/icons/folder.svg" class="w-full" alt="folder">
            </div>
            <a class="text-neutral-200" href="/folder/<%- folder.name %> %>"><%- folder.name %></a>
            <i class="ml-auto text-3xl text-indigo-300 fa-solid fa-ellipsis-vertical"></i>
            <div class="">
              <a class="text-red-400" href="/folder/<%-folder.name%>/delete">Delete folder</a>
            </div>
          </li>
        <% })}%>
        <!-- files -->
        <%if (locals.files) { files.forEach(file => { %>
            <li class="flex items-center gap-6 p-4 my-5 rounded md:my-0 bg-neutral-800">
              <div class="w-8 text-center">
                <img class="w-full" src="/icons/file.svg" alt="file">
              </div>
              <a class="text-neutral-200" href="<%- file.file_url %>"><%- file.name %></a>
              <i class="ml-auto text-3xl text-fuchsia-300 fa-solid fa-ellipsis-vertical"></i>
              <div class="">
                <a class="text-red-400" href="/file/<%-file.cloud_id%>/delete">Delete file</a>
              </div>
            </li>
        <% })} %>
        <% if (locals.parentName !== "root") { %>
          <li class="flex items-center gap-6 p-4 my-5 border border-indigo-400 rounded md:my-0 bg-neutral-800">
            <div class="w-16 text-center">
              <img src="/icons/double-up.svg" alt="go top">
            </div>
            <a class="text-neutral-200" href="/">Go to top</a>
          </li>
        <% } %>
      </ul>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
